name: CD - Test pull & docker compose up

on:
  workflow_run:
    workflows:
      - CI - sbt assembly & Docker build
    types:
      - completed

jobs:
  test-deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set deploy variables (branch tag)
        run: |
          echo "APP_TAG=spark-clean-devops" >> $GITHUB_ENV
          echo "OWNER=$(echo '${{ github.repository_owner }}' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV
          echo "REPO=$(basename '${{ github.repository }}')" >> $GITHUB_ENV

      - name: Pull images
        run: |
          docker pull ghcr.io/$OWNER/lol-streaming-clean-producer:$APP_TAG
          docker pull ghcr.io/$OWNER/lol-streaming-clean-consumer:$APP_TAG

      - name: Docker compose pull
        run: docker compose pull

      - name: Docker compose up
        run: docker compose up -d

      - name: Status
        run: docker compose ps
