  precheck_ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: sbt clean assembly (via Docker)
        run: |
          docker run --rm \
            -v "$PWD:/app" \
            -w /app \
            sbtscala/sbt:latest \
            sbt clean assembly

      - name: Docker compose build
        run: |
          docker compose build --no-cache || docker-compose build --no-cache
