  precheck_ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install JDK & sbt
        run: |
          sudo apt-get update
          sudo apt-get install -y gnupg curl

          echo "deb https://repo.scala-sbt.org/scalasbt/debian all main" | sudo tee /etc/apt/sources.list.d/sbt.list
          echo "deb https://repo.scala-sbt.org/scalasbt/debian /" | sudo tee /etc/apt/sources.list.d/sbt_old.list

          curl -sL "https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x2EE0EA64E40A89B84B2DF73499E82A75642AC823" \
            | gpg --dearmor | sudo tee /usr/share/keyrings/sbt-archive-keyring.gpg > /dev/null

          echo "deb [signed-by=/usr/share/keyrings/sbt-archive-keyring.gpg] https://repo.scala-sbt.org/scalasbt/debian all main" \
            | sudo tee /etc/apt/sources.list.d/sbt.list

          sudo apt-get update
          sudo apt-get install -y openjdk-11-jdk sbt

          sbt sbtVersion

      - name: Cache sbt / ivy2
        uses: actions/cache@v4
        with:
          path: |
            ~/.ivy2/cache
            ~/.sbt
          key: ${{ runner.os }}-sbt-${{ hashFiles('**/build.sbt') }}
          restore-keys: |
            ${{ runner.os }}-sbt-

      - name: sbt clean assembly
        run: sbt clean assembly

      - name: Docker compose build
        run: |
          docker compose build --no-cache || docker-compose build --no-cache
