name: CD - Test pull & docker compose up

on:
  workflow_run:
    workflows:
      - CI - sbt assembly & Docker build
    types:
      - completed

jobs:
  test-deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read

    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - run: |
          OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          REPO=$(basename "${{ github.repository }}")
          TAG=main

          docker pull ghcr.io/$OWNER/$REPO/producer:$TAG
          docker pull ghcr.io/$OWNER/$REPO/consumer:$TAG

      - run: docker compose up -d
