name: Deploy to lol-vm

on:
  push:
    branches:
      - spark-clean-devops   

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: SSH into VM and deploy
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.VM_SSH_KEY }}
          script: |
            cd /home/azureuser/lol-streaming-clean
            git pull origin spark-clean-devops

            docker compose pull || true
            docker compose up -d
