  precheck_ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: sbt clean assembly (via Docker)
        run: |
          docker run --rm \
            -v "$PWD:/app" \
            -w /app \
            sbtscala/scala-sbt:eclipse-temurin-17.0.4_1.7.1_3.2.0 \
            sbt clean assembly

      - name: Docker compose build
        run: |
          docker compose build --no-cache || docker-compose build --no-cache
