  precheck_ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Scala & sbt
        uses: olafurpg/setup-scala@v14
        with:
          java-version: "11"

      - name: Cache sbt / ivy2
        uses: actions/cache@v4
        with:
          path: |
            ~/.ivy2/cache
            ~/.sbt
          key: ${{ runner.os }}-sbt-${{ hashFiles('**/build.sbt') }}
          restore-keys: |
            ${{ runner.os }}-sbt-

      - name: sbt clean assembly
        run: sbt clean assembly

      - name: Docker compose build
        run: |
          docker compose build --no-cache || docker-compose build --no-cache
