name: Test Deploy to lol-vm

on:
  workflow_dispatch:
    inputs:
      mode:
        description: "resume or update"
        required: true
        default: "resume"
        type: choice
        options:
          - resume
          - update

jobs:
  test_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Test SSH Action
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.VM_SSH_KEY }}
          script: |
            echo "This is a test deploy"